<h1>Edit Notice</h1>

<html>
  <body>
    <form action="updatea" method="post">
    Title:<br>
    <input type="text" name="firstname">
    <br>
    Text:<br>
    <input type="text_area" name="lastname">
    <br><br>
    <input type="submit" "submit">
    </form>
  </body>
</html>

<%= link_to 'Back', notices_path %>
